/**
 * Some taken inspiration from https://notehub.org/style.css.
 */

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Lato:400,300);

body {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	display: flex;
	min-height: 100%;
}

html, body {
	padding: 0;
	margin: 0;
	color: #333;
	background: #fff;
}

a {
	border-bottom: 1px dotted;
	text-decoration: none;
	color: #097;
}

a:hover {
	color: #0a8;
}

a:visited {
	color: #054;
}

footer {
	text-align: center;
	padding-bottom: 1em;
	font-size: 0.8em;
	width: 100%;
	font-family: Lato, sans-serif;
	font-weight: 300;
}

footer a {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Lato, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1.0em;
}

.post, .home {
	text-align: justify;
	margin-top: 3em;
	margin-bottom: 5em;
	font-family: Lato, sans-serif;
	margin-right: auto;
	margin-left: auto;
}

.post img {
	max-width: 100%;
}

.post p {
	line-height: 140%;
	font-size: 1.05em;
}

.post .title .content {
	margin: 2em;
	font-size: 2.0em;
	text-align: center;
}

.central-element {
	margin-right: auto;
	margin-left: auto;
}

.toc {
	color: #097;
}

.toc-entry {
    padding-bottom: 0.5em;
}

.toc-date {
    font-size: 0.7em;
    padding-right: 0.5em;
}

.toc-content {
    padding-left: 0.5em;
}

code, pre {
	font-size: .95em;
	background: #efefef;
	font-family: 'Source Code Pro', monospace;
}

pre {
    margin: auto;
    width: 95%;
	border: 1px solid #bbb;
	padding: 0.5em;
	border-radius: 3px;
}

@media screen and (min-width: 1024px) {
	.post, .home, .central-element {
		width: 800px;
	}
}

@media screen and (max-width: 1023px) {
	.post, .home, .central-element {
		width: 90%;
	}
}
