html, body {
    font-family: "Lucida Grande", "Lucide Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: small;
}

.post, .home {
    margin-left: auto;
    margin-right: auto;
}

.toc-date {
    font-family: monospace;
}

.toc-entry {
    margin-bottom: 1.5em;
}

.footer {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

pre > code {
    display: block;
    overflow: auto;
    background-color: #FFFDFC;
}

h1:not(:first-child), h2 {
    margin-top: 2.5em;
}

@media screen and (min-width: 45em) {
	.post, .home, .central-element {
		width: 50em;
	}

    pre > code {
        margin-left: 1.2em;
        margin-right: 1.2em;
    }
}

@media screen and (max-width: 44em) {
	.post, .home, .central-element {
		width: 92%;
	}

    pre > code {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }
}
