<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Marc Tiehuis">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="history" content="https://github.com/tiehuis/tiehuis.github.io/commits/master/{{ page.path }}">
  {% feed_meta %}

  <title>{{ page.title }}</title>
  <style>
{% include style.css %}
  </style>
</head>

<body>
  <div class="site">
{{ content }}
    <div class="footer">
      <a href="/">home</a>
      -
      <a href="https://github.com/tiehuis/">github</a>
      -
      <a href="/feed.xml">rss</a>
      <br/>
    </div>
    <!--
    <div class="last-modified-at">
      last modified {{ page.last_modified_at | date: '%F, %X %Z' }}
    </div>
    -->
  </div>
</body>
</html>
